@tailwind base;
@tailwind components;
@tailwind utilities;

.personDetails{
  background-color: rgb(42,91,126);
}
.nameSection{
  border-right: 1px solid white;
}
.color{
  border-radius: 4px  4px 0 0px;
  border-bottom: 1px solid rgb(28, 28, 28);
  height: 130px;
  position: relative;
  bottom: 15px;
}
.table{
  position: relative;
  bottom: 17px;
}
.table td{
  font-size: 14px;
}